@import 'reset';
@import 'bootstrap';

a{
    text-decoration: none;
    color:black;
    &:hover{
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}
.link-spanner{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
}

.photos{
    // border: 1px solid;
    width: 100%;
    margin-left: 65px;
    // margin-left: 355px;
    // border: 1px solid red;
    // background-image: url(images/greyfloral_@2X.png);
    &:first-child{
        padding-top: 0px;
    }
    &:last-child{
        padding-bottom: 0px
    }
    div{
        position: relative;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        padding-top: 105%;
        margin-right:20px;
        background:no-repeat fixed;
        background-position: 320px 0px;
        background-size: contain;

    }


// INSERT PHOTOS HERE

    .cover{
        background-image: url(images/bookpage.jpg);
    }
    .page1{
        background-image: url(images/bookpage01.jpg);

    }
    .page2{
        background-image: url(images/bookpage02.jpg);
        background-position: 330px 0px;

    }
    .page3{
        background-image: url(images/bookpage03.jpg);
    }
    .page4{
        background-image: url(images/bookpage04.jpg);
    }
    .page5{
        background-image: url(images/bookpage05.jpg);
    }
    .page6{
        background-image: url(images/bookpage06.jpg);
    }
    .page7{
        background-image: url(images/bookpage07.jpg);
        background-position: 335px -10px;
}
    .page8{
        background-image: url(images/bookpage08.jpg);
        background-position: 335px 0px;

    }

}
.fixed{
    position: fixed;
    // margin-right: 25px;
    top: 90px;
    margin-left: -5px;
    z-index: 1;
    background-color: none;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    &:hover{
    }
    a{
        font-family: helvetica;
        font-weight: bold;
        text-decoration: none;
        color: black;
        &:hover{
            text-decoration: none;
        }
    }
}
