html, body{
    height:100%;
}

@import 'reset';
@import 'bootstrap';

//
// GLOBAL
//


a{
    text-decoration: none;
    color:black;
    &:hover{
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}


.link-spanner{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
}

.hidden{
    display: none;
}

//
// SIDEBAR
//

.fixed{
    position: fixed;
    // margin-right: 25px;
    top: 90px;
    margin-left: -5px;
    z-index: 1;
    background-color: none;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    &:hover{
    }
    a{
        font-family: helvetica;
        font-weight: bold;
        text-decoration: none;
        color: white;
        opacity: .6;
        transition: .7s linear;
        &:hover{
            text-decoration: none;
            opacity: .9
        }
    }
}


//
// STORIES
//
.stories-grid{
    width:100%;
    margin: 0 auto;

    position: relative;
    .stories{
        margin-right: 10px;
        margin-left: 0px;
        img{
            float: left;
            width: 100%;
            height: auto;
        }
        &:nth-child(2n){
        margin-right: 0;
        margin-left: 10px;
        }
    }
}


//
// PHOTOS
//

.photos{
    // border: 1px solid red;
    width: 100%;
    margin-left: 65px;
    // margin-left: 355px;
    // border: 1px solid red;
    // background-image: url(images/greyfloral_@2X.png);
    &:first-child{
        padding-top: 0px;
    }
    &:last-child{
        padding-bottom: 0px
    }
    div{
        // border: 1px solid blue;
        position: relative;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        padding-top: 105%;
        margin-right:20px;
        background:no-repeat fixed;
        background-position: 320px 0px;
        background-size: contain;
        //  &:nth-child(2n){
        //     background-color: F7F7F7;
        // }

    }
}

// // INSERT PHOTOS HERE

//     .cover{
//         background-image: url(../images/bookpage.jpg);
//     }
//     .page1{
//         background-image: url(../images/bookpage01.jpg);

//     }
//     .page2{
//         background-image: url(../images/bookpage02.jpg);
//         background-position: 330px 0px;

//     }
//     .page3{
//         background-image: url(../images/bookpage03.jpg);
//     }
//     .page4{
//         background-image: url(../images/bookpage04.jpg);
//     }
//     .page5{
//         background-image: url(../images/bookpage05.jpg);
//     }
//     .page6{
//         background-image: url(../images/bookpage06.jpg);
//     }
//     .page7{
//         background-image: url(../images/bookpage07.jpg);
//         background-position: 335px -10px;
// }
//     .page8{
//         background-image: url(../images/bookpage08.jpg);
//         background-position: 335px 0px;

//     }

// }

//
// DESCRITPIONS
//

//
// helper-arrow to guide user to scroll
// need js scroll easing script
//
.helper-arrow{
    display: block;
    font-size: 110px;
    font-weight: bold;
    color: white;
    opacity: .3;
    position: absolute;
    right: 16px;
    bottom: 0px;
    transition-property: opacity, bottom;
    transition-duration: .4s, .3s;
    transition-timing-function: linear;
    &:hover{
        opacity: .6;
        color:white;
        bottom: -12px;
    }
}

.project-description{
    font-size:14px;
    color:white;
    position: relative;
    width: 15%;
    min-width:150px;
    top: 45%;
    height:100px;
    left: 20%;
    p{
        color: white;
        opacity: 0;
        transition: 1s ease-in;
    }
    h2{
    opacity: .6;
    transition: .7s linear;
        .hide-on-hover{
        font-size:15px;
        padding-left: 10px;
        vertical-align:middle;
        transition: .7s;

        }
        &:hover{
        opacity: .9

        }
        &:hover + p{
        opacity: .9;
        }
        &:hover .hide-on-hover{
        opacity: 0;
        // display: none
        // ^fade out or replace?
        }
        //
        // REPLACE RIGHT ARROW
        // WITH DOWN ARROW?
        //
        // &:hover:after{
        //     content: "▼";
        //     font-size:16px;
        //     padding-left: 10px;
        //     vertical-align:middle;
        // }
    }
}

.fbsection2{
    .project-description{
        top: 26%;
        left: 70%;
    }
}
.fbsection3{
    .project-description{
        top: 25%;
        left: 10%;
    }
}
.project-title{
    font-size:50px;
    color: white;
    margin: 0 0 0 0;
    position: relative;
}

// NAV
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 100px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	width: 26px;
	height: 26px;
	outline: none;
	margin: 25px 0;
	border-radius: 50%;
	border: 4px solid #fff;
}

.cbp-fbscroller > nav a:hover {
	background: rgba(255,255,255,0.6);
}

// PREVIEWS / BACKGROUND IMAGES
.stories-photos{
    height: 100%;
    position: relative;
}
.stories-photos > div{
    position: relative;
    height:100%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
#fbsection1{

    background-size: cover;
    height: 100%;
    background-image: url(../images/optimized/bleach.jpg);
}
#fbsection2{
    background-size: cover;
    height: 100%;
    background-image: url(../images/optimized/salmon.jpg);
}
#fbsection3{
    height: 100%;
    background-size: cover;
    background-image: url(../images/optimized/previews/buddy-preview.jpg);
}





