html, body{
    height:100%;
}

@import 'reset';
@import 'bootstrap';

//          //
//  GLOBAL  //
//          //


a{
    text-decoration: none;
    color:black;
    &:hover{
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}

//                 //
//  HELPER CLASSES //
//                 //


//           //
//  SIDEBAR  //
//           //

.sidr{
    margin-right:20px;
}

.fixed{
    a{
        color: white;
        &:hover{
            color: white;
        }
    }
}



//      //
// BODY //
//      //

// DESCRIPTIONS

.project-title{
    font-size:50px;
    color: white;
    margin: 0 0 0 0;
    position: relative;
    text-shadow: 0px 2.25px 4.5px rgba(0, 0, 0, 0.3);
}

.project-description{
    font-size:14px;
    color:white;
    position: relative;
    width: 15%;
    min-width:150px;
    top: 45%;
    height:100px;
    left: 20%;
    p{
        color: white;
        opacity: 0;
        transition: 1s ease-in;
    }
    h2{
    opacity: .6;
    transition: .7s linear;
        .hide-on-hover{
        font-size:15px;
        padding-left: 10px;
        vertical-align:middle;
        transition: .7s;

        }
        &:hover{
        opacity: .9

        }
        &:hover + p{
        opacity: .9;
        }
        &:hover .hide-on-hover{
        opacity: 0;
        // display: none
        // ^fade out or replace?
        }
        //
        // REPLACE RIGHT ARROW
        // WITH DOWN ARROW?
        //
        // &:hover:after{
        //     content: "▼";
        //     font-size:16px;
        //     padding-left: 10px;
        //     vertical-align:middle;
        // }
    }
}

.fbsection2{
    .project-description{
        top: 26%;
        left: 70%;
    }
}
.fbsection3{
    .project-description{
        top: 25%;
        left: 10%;
    }
}

// BACKGROUND IMAGES

.stories-photos{
    height: 100%;
    position: relative;
}
.stories-photos > div{
    position: relative;
    height:100%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
#fbsection1{

    background-size: cover;
    height: 100%;
    background-image: url(../images/optimized/bleach.jpg);
}
#fbsection2{
    background-size: cover;
    height: 100%;
    background-image: url(../images/optimized/salmon.jpg);
}
#fbsection3{
    height: 100%;
    background-size: cover;
    background-image: url(../images/optimized/previews/buddy-preview.jpg);
}

// DOWN ARROW
.helper-arrow{
    right: 16px;
    bottom: 0px;
    color: white;
    &:hover{
        color:white;
        bottom: -12px;
    }
}




